<div class="card">
  <h2>
    {{user.firstName}} {{user.lastName}}
  </h2>
  <span>
    Prénom : {{user.firstName}}
  </span>
  <br>
  <span>
  Nom : {{user.lastName}}
  </span>
  <br>
  <span>
  Pseudonyme : {{user.username}}
  </span>
  <br>
  <span>
  Mot de passe : {{user.password}}
  </span>
  <br>
  <span>
  Droits d'administrateurs : {{user.isAdmin ? 'Oui' : 'Non'}}
  </span>
  <br>
  <button class="button-card" (click)="editUser()">Éditer</button>
  <button class="button-card" (click)="deleteUser()">Supprimer</button>
</div>
