@import '../../../styles/card.scss';

.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.answer {
  cursor: pointer;
  background-color: $white;
  font-weight: bold;
  padding: 0.5em 1em;
}

.answer:hover
{
  background-color: #e0a800;
}

.answerDesactivate {
  color: gray;
  background-color: $white;
  border: solid 1px gray;
  font-weight: bold;
  padding: 0.5em 1em;
}

.answerDesactivate:hover {
  color: gray;
  background-color: $white;
  border: solid 1px gray;
  font-weight: bold;
  padding: 0.5em 1em;
  cursor: default;
}

.answerDesactivateImage:hover{
  cursor: default;
}
.answer-list {
  display: inline-block;
  margin: 5% 5% 5% 5%;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
  cursor: pointer;
}

img {
  max-width: 220px;
  max-height: 150px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
