<button class="button-card" routerLink="/quiz-list">Retour</button>

<ng-container *ngIf="quiz">
  <ng-container *ngIf="currentQuestion != quiz.questions.length">
    <h2>{{quiz.questions[currentQuestion].label}}</h2>
    <ng-container *ngIf="!showSummaryQuestion">
      <div class="answer-list" *ngFor="let answer of quiz.questions[currentQuestion].answers">
        <div *ngIf="!answer.image">
          <div *ngIf="answer.isCorrect">
            <div class="answer" (click)="toggleQuestionSummary()">{{answer.value}}</div>
          </div>
          <div *ngIf="!answer.isCorrect">
            <div class="answer" (click)="toggleWrongAnswer(answer)">{{answer.value}}</div>
          </div>
        </div>
        <div *ngIf="answer.image">
          <div *ngIf="answer.isCorrect">
            <div (click)="toggleQuestionSummary()">
              <figure>
                <img class="fit-picture" src="{{answer.image}}" alt="{{answer.image}}">
                <figcaption>{{answer.value}}</figcaption>
              </figure>
            </div>
          </div>
          <div *ngIf="!answer.isCorrect">
            <div (click)="toggleWrongAnswer(answer)">
              <figure>
                <img class="fit-picture" src="{{answer.image}}" alt="{{answer.image}}">
                <figcaption>{{answer.value}}</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="showSummaryQuestion">
      <span>
        Bravo vous avez sélectionné la bonne réponse !
      </span>
      <ng-container *ngFor="let answer of quiz.questions[currentQuestion].answers">
        <div *ngIf="answer.isCorrect">La bonne réponse était : {{answer.value}}</div>
      </ng-container>
    </ng-container>
  </ng-container>

  <div *ngIf="currentQuestion == quiz.questions.length">
    <ul>
      <li *ngFor="let question of quiz.questions">
        {{question.label}}
        <div *ngFor="let answer of question.answers">
          <div *ngIf="answer.isCorrect">La bonne réponse était : {{answer.value}}</div>
        </div>
        <hr>
      </li>
    </ul>
    <button class="button-card center" (click)="goBack()">Revenir au menu principal</button>
  </div>
</ng-container>
