<div class="d-flex flex-column">
  <div class="pt-2"><form class="form-group my-2 my-lg-0 justify-content-center" [formGroup]="searchForm">
    <div class="row">
      <div class="col-4">
    <div>
      <input class="form-control mr-sm-2 input-custom" [formControlName]="'search'" type="text" oninput="this.value = this.value.toLowerCase()" placeholder="Nom du quiz" aria-label="Recherche">
  </div>
      </div>
      <div class="col-5">
  <div>
      <select class="form-control mr-sm-2" [formControlName]="'theme'">
        <option value="" disabled selected>Sélectionner un thème</option>
        <option value="" *ngFor="let currentTheme of themes" [value]="currentTheme.name">
          {{currentTheme.name}}
        </option>
      </select>
    </div>
      </div>
      <div class="col">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit" (click)="applySearch()">Rechercher</button>
      </div>
    </div>
    <div *ngIf="okCurrentUser()" class="form-check custom-control custom-checkbox my-1 mr-sm-2">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" [formControlName]="'user'">
      <label class="form-check-label" for="exampleCheck1">Afficher seulement les quiz de {{getCurrentUser()}}</label>
    </div>
  </form></div>
  <div class="p-2"><div *ngIf="filters()" class="alert alert-warning alert-dismissible fade show" role="alert">
    Vous avez demandé les quiz
    <span *ngIf="okValueTheme()"> sur le thème <span class="font-weight-bold">{{getValueTheme()}}</span></span>
    <span *ngIf="okValueSearch()"> contenant le mot <span class="font-weight-bold">{{getValueSearch()}}</span></span>
    <span *ngIf="okValueUser()"> pour  <span class="font-weight-bold">{{getValueUser()}}</span></span>
    <button (click)="deleteSearch()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div></div>
</div>

