<div class="header">
  <a href="./">PolyQuiz</a>
  <span>
    <a routerLink="create-user">Créer un utilisateur</a>
  </span>
  <span>
    <a routerLink="create-quiz">Créer un quiz</a>
  </span>
  <span>
    <a routerLink="edit-quiz">Modifier quiz</a>
  </span>
  <!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav> -->
</div>
