<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Se connecter</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>
            <select formControlName="username">
              <option *ngFor="let patient of patients" [value]=patient.username>
                {{patient.firstName}} {{patient.lastName}}
              </option>
            </select>
          </label>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Se connecter
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
