<div class="card">
  <h2>Créer un nouveau quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Titre :<br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      Thème :<br>
      <select class="input-custom" id="theme" [formControlName]="'theme'">
        <option *ngFor="let currentTheme of themes" [value]="currentTheme">
          {{currentTheme}}
        </option>
      </select>
    </label>
    <label for="image">
      Image :<br>
    <input type="url" id="image" placeholder="https://exemple.com/" [formControlName]="'image'"/>
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">Créer le quiz</button>
  </form>
</div>
