<ng-container *ngIf="quiz && !question">
  <div class="card">
    <h2>Création d'une nouvelle question</h2>
    <form class="quiz-form" [formGroup]="questionForm">
      <label>
        Intitulé de la question: <br>
        <input class="input-custom" type="text" [formControlName]="'label'">
      </label>
      <br>
      <button class="button-card" (click)="addAnswer()">Ajouter une réponse</button>
      <div class="answer" formArrayName="answers">
        <div *ngFor="let address of answers.controls; let i=index">
          <div class="answer-form" [formGroupName]="i.toString()">
            <label>
              Réponse:
              <input type="text" [formControlName]="'value'">
              Correcte
              <select class="input-custom" [formControlName]="'isCorrect'">
                <option *ngFor="let value of trueOrFalse" [value]="value">
                  <ng-container *ngIf="value === true">Vrai</ng-container>
                  <ng-container *ngIf="value === false">Faux</ng-container>
                </option>
              </select>
              <input type="url" placeholder="https://exemple.com/" [formControlName]="'image'"/>
              <button type="button" class="button-card" (click)="deleteAnswer(i)">Supprimer la réponse</button>
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="button-card" (click)="addQuestion()">Créer la question</button>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="!quiz && question">
  <div class="card">
    <h2>Édition de la question : <em>{{question.label}}</em></h2>
    <form class="quiz-form" [formGroup]="questionForm">
      <label>
        Intitulé de la question: <br>
        <input class="input-custom" type="text" [formControlName]="'label'">
      </label>
      <br>
      <button class="button-card" (click)="addAnswer()">Ajouter une réponse</button>
      <div class="answer" formArrayName="answers">
        <div *ngFor="let address of answers.controls; let i=index">
          <div class="answer-form" [formGroupName]="i.toString()">
            <label>
              Réponse:
              <input type="text" [formControlName]="'value'">
              Correcte
              <select class="input-custom" [formControlName]="'isCorrect'">
                <option *ngFor="let value of trueOrFalse" [value]="value">
                  <ng-container *ngIf="value === true">Vrai</ng-container>
                  <ng-container *ngIf="value === false">Faux</ng-container>
                </option>
              </select>
              <input type="url" placeholder="https://exemple.com/" [formControlName]="'image'"/>
              <button type="button" class="button-card" (click)="deleteAnswer(i)">Supprimer la réponse</button>
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="button-card" (click)="editQuestion(question.quizId)">Modifier la question</button>
    </form>
  </div>
</ng-container>
