@import '../../../styles/card.scss';

div.custom-control-right {
  padding-left: 0;
}

div.custom-control-right .custom-control-label::after {
  right: -1.5rem;
  left: auto;
}

div.custom-control-right .custom-control-label::before {
  right: -2.35rem;
  left: auto;
}
