<div class="card">
  <h2>
    <i *ngIf="quiz.theme == 'Actor'" class="fab fa-leanpub"></i>
    <i *ngIf="quiz.theme == 'Sport'" class="fas fa-futbol"></i>
    {{quiz.name}}
  </h2>
  <span>
    Thème : {{quiz.theme}}
  </span>
  <br>
  <span>
    Nombre de questions : {{quiz.questions.length}}
  </span>
  <br>
  <button class="button-card" (click)="playQuiz()">Jouer au quiz</button>
  <button class="button-card" (click)="editQuiz()">Éditer</button>
  <button class="button-card" (click)="deleteQuiz()">Supprimer</button>
</div>
