@import '../../../styles/card.scss';

.button-card {
  margin-right: 10px;
}

.image {
  background-size: cover;
  width: 12rem;
  height: 100px;
}

.btn{
  font-size: 15px;
}

.textQuiz{
  font-size: 13px;
}

.card{
  margin: 5px;
}
