<button type="button" class="back btn btn-outline-info mt-2" routerLink="/quiz-list"><i class="fas fa-arrow-left"></i> Retourner à la liste des quiz</button>

<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header text-center">Connexion administrateur</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Pseudonyme :</label>
          <input id="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formFields.username.errors }" />
          <div *ngIf="submitted && formFields.username.errors" class="invalid-feedback">
            <div *ngIf="formFields.username.errors.required">Le pseudonyme est requis</div>
          </div>
          <label for="password" class="mt-3">Mot de passe :</label>
          <div class="input-group mb-2 mr-sm-2">
            <input id="password" [type]="hide ? 'password' : 'text'" class="form-control" [formControlName]="'password'" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <i *ngIf="hide" class="fas fa-eye" (click)="hide = !hide"></i>
                <i *ngIf="!hide" class="fas fa-eye-slash" (click)="hide = !hide"></i>
              </div>
            </div>
          </div>
          <div *ngIf="submitted && formFields.password.errors" class="invalid-feedback">
            <div *ngIf="formFields.password.errors.required">Le mot de passe est requis</div>
          </div>
        </div>
        <div class="text-center">
        <button [disabled]="loading" class="btn btn-info">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Se connecter
        </button>
        </div>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
