<button type="button" class="back btn btn-outline-info mt-2" routerLink="/edit-quiz-list"><i class="fas fa-arrow-left"></i> Retour</button>

<ng-container *ngIf="quiz">
  <h3 class="text-center">Liste des questions pour le quiz : <span class="font-weight-bold">{{quiz.name}}</span></h3>
  <div *ngIf="quiz.questions.length === 0">
    <h5 class="text-center mt-5">Il n'y a pas de questions pour ce quiz !</h5>
    <div class="text-center">
    <div class="btn btn-info mb-2" routerLink="/create-question/{{quiz.id}}"><i class="fas fa-plus"></i> Créer une nouvelle question</div>
    </div>
    </div>
  <div *ngIf="quiz.questions.length !== 0">
  <div class="text-right mr-5">
    <div class="btn btn-info mb-2 mr-5" routerLink="/create-question/{{quiz.id}}"><i class="fas fa-plus"></i> Créer une nouvelle question</div>
  </div>
  <ul class="list-group ml-5 mr-5 mb-3">
    <app-question-list [quiz]="quiz"></app-question-list>
  </ul>
  </div>
</ng-container>
